* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul {
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 8px 25px;
    transition: all .5s ease;
}

.navbar ul li a:hover{
    background-color: #fff;
    color: black;
    box-shadow: 0 0 10px white ;
    
}


#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;
}

#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('photo-1515138692129-197a2c608cfd.jfif') no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;

    
}


.main{
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    align-items: center;
    position: absolute;
    top: 40%;
    right: 10%;
}


.headings{
    font-family: century;
    font-size: 2rem;
    text-align: center;
    margin: 40px 0px;
}


.btn{
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    transition: .6s ease;
}

.btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white,0 0 15px white;
    font-weight: bold;
}


#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}


#pic{
    display: flex;
}

#pic img{
    width: 575px;
    height: 400px;
}


#intro{
    display:flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;

}

#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
}


#portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}


.gallery img{
    width: 360px;
    height: 240px;
    margin: 10px;
    
}